@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

/*기본설정*/
a {
    text-decoration: none;
}

.text_link {
    color: black;
}

a:active {
    color: black;
}
a:link {
    color: black;
}


/*페이지*/
.page {
    font-family: 'Nanum Gothic', 'serif';
    width: 412px;
    height: 847px;
    position: relative;
    background-color: white;
    margin: 0px auto;
    text-align: center;
}

.inner_page {
    width: 380px;
    margin: 0px auto;
}

/*네비*/

.nav_left_icon {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;   
    line-height: normal;
}
.nav_right_icon {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    line-height: normal;
}

.top_nav {
    height: 80px;
    line-height: 80px;
   /* border-bottom: 1px black solid; */
    font-size: 24px;
    font-weight: bold;
}
.nav_with_title {
    display: flex;
    justify-content: space-between;
}

.sub_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
}

.inline_block {
    display: inline-block;
}

.division_line {
    border-top: 1px solid rgb(204,204,204);
    height: 0px;
    width: 380px;
    margin: 16px auto;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}