
.color_orange {
    color:rgb(255,152,0);
}

.color_white {
    color: white;
}

.background_orange {
    background-color: rgb(255,152,0);
}
.padding_left_8 {
    padding-left: 8px;
}
.float_left {
    float: left;
}

.float_right {
    float: right;
}
.text_align_left {
    text-align: left;
}
.text_align_right {
    text-align: right;
}
.underline {
    text-decoration: underline;
}

.opacity_06 {
    opacity: 0.6;
}
.regular_12 {
    font-weight: 500;
    font-size: 12px;
}
.regular_20 {
    font-weight: 500;
    font-size: 20px;
}
.bold_14 {
    font-weight: bold;
    font-size: 14px;
}
.bold_16 {
    font-weight: bold;
    font-size: 16px;
}
.bold_20 {
    font-weight: bold;
    font-size: 20px;
}