@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

.page {
    font-family: 'Nanum Gothic', 'serif';
    width: 412px;
    height: 847px;
    background-color: white;
    margin: 0px auto;
    text-align: center;
}

.inner_page {
    width: 380px;
    margin: 0px auto;
}

.top_nav {
    height: 80px;
    line-height: 80px;
    border-bottom: 1px black solid; /*임시*/
    font-size: 24px;
    font-weight: bold;
}

.sub_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
}

.inline_block {
    display: inline-block;
}