/*강아지 고양이 선택*/
.select_container {
    width: 352px;
    margin: 32px auto 0px;
}

.select_box_container {
    display:flex;
    justify-content: space-between;
}

.select_box {
    width: 156px;
    height: 156px;
    border-radius: 10px;
    border: 2px solid rgb(255,152,0);
}
.img_center {
    margin-top: 35px;
}
.select_text {
    padding-top: 20px;
}

/*입력 상자들*/
.reg_form {
    width: 346px;
    height: 62px;
    border-radius: 10px;
    border: 1px solid rgb(204,204,204);
    box-sizing: border-box;
    margin-top: 32px;
}

.reg_form:first-child {
    margin-top: 33px;
}

.gender_box_container {
    display: flex;
    justify-content: space-between;
    margin: 32px auto 0px;
    border: none;
}

.gender_box {
    width: 160px;
    height: 62px;
    font-weight: bold;
    line-height: 58px;
    box-sizing: border-box;
}

.gender_box:first-child {
    color: rgb(2,69,255);
    border: 2px solid  rgb(2,69,255);
}

.gender_box:last-child {
    color: rgb(242,0,224);
    border: 2px solid rgb(242,0,224);
}

.reg_submit {
    width: 147px;
    height: 56px;
    margin: 0 auto;
    border-radius: 30px;
    line-height: 56px;
    margin-top: 33px;
}